@font-face{
    font-family: "Montserrat-Bold";
    src:url(fonts/Montserrat-Bold.ttf)
}

@font-face{
    font-family: "Montserrat-Regular";
    src:url(fonts/Montserrat-Regular.ttf)
}

@keyframes animate {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}

/* @keyframes colorChange{
    from{
        --primary: #E58A2F;
        --secondary:#FFD49B;
        --secondaryDark:#6d4004;
        --dark:#1B1B1B;
        --bright:#FCF1E6;
        --brightDark:#f3d5b7;
    }

    to{
        --primary: #ff0101;
        --secondary:rgb(255, 88, 88);
        --secondaryDark:#920000;
        --dark:#300000;
        --bright:#ffb3b3;
        --brightDark:#ff7575;
    }

} */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bright); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryDark); 
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular;
    --primary: #E58A2F;
        --secondary:#FFD49B;
        --secondaryDark:#6d4004;
        --dark:#1B1B1B;
        --bright:#FCF1E6;
        --brightDark:#f3d5b7;
    animation: colorChange 10s ease 0s infinite backwards;
}





html{
    
    scroll-behavior: smooth;
    height: 100%;
    
}
body{
    height: 100vh;
    background-image: url(images/bake.avif);
    background-repeat: no-repeat;
   background-size: cover;
 
}
.next1{
 
 
    height: 70%;
 
}

header{
    background: var(--primary);
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: animate 0.2s linear 0s 1 alternate both !important;
    
    
    
    
  
}

.logo img{
    height: 70px;
    margin: 50px;
    animation: animate 0.2s linear 0.1s 1 alternate both !important;
}

.header-text{
color:var(--secondaryDark);
padding: 10px;
border-radius: 15px;
font-size: 20px;
font-weight: bold;
animation: animate 0.2s linear 0.2s 1 alternate both !important;
}





nav ul{
    display: flex;
    flex-direction: row;
    margin: 50px;
    animation: animate 0.2s linear 0.3s 1 alternate both !important;
}

nav ul li{
    list-style: none;
    padding: 30px;
}

nav ul li a{
    color: var(--bright);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid var(--primary);
    padding-bottom:10px;
    
    transition: 0.5s ease;
}

nav ul li a:hover{
    color: var(--secondaryDark);
    border-bottom: 2px solid var(--secondaryDark);
    
    
}

.main{
    width: 70%;

}
#intro{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 50px;

}

#intro h1{
    text-align: center;
    font-size: 60px;
    color: var(--primary);

}

#intro h3{
color: var(--secondaryDark );
}

#foodlist{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title-header{
width: 40%;
height: 80px;
background-color: var(--primary);
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;

margin-top: 50px;

}

.title-header h1{
    color: var(--bright);
    font-size: 30px;
}

#bakery-list{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.food{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bright);
    height: 250px;
    width: 225px;
    border-radius: 20px;
    border: 5px solid var(--primary);
    flex-direction: column;
    transition: 0.5s ease;
    cursor: pointer;
   
}
.food h1{
    transition: 0.5s ease;
    margin-top: 20px;
    color: var(--secondaryDark);
}

.food img{
    height: 140px;
    cursor: pointer;
    transition: 0.5s ease;
}




.food:hover{
    transition: 0.5s ease;
    background: linear-gradient(to top, var(--primary), var(--bright));
    
}

.food:hover img{
    transform: scale(1.2) translateY(-70px);
}

.food:hover h1{
    color: var(--bright);
    font-size: 40px;
    transform: translateY(-60px);
}

.more{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more a{
    text-decoration: none;
    color: var(--bright);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s ease;
}

.more a:hover{
    color: var(--primary);
    background-color: var(--bright);
    border: 2px solid var(--primary);
}


.mainNext{
    
    height: 100vh;
    background-image: url(images/nepali-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 300px;
}

.next{

    width: 70%;
    height: 100vh;
    float: right;
}

.indian{
    height: 100vh;
    background-image: url(images/italian-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    
}

.main{
    margin-top: 20px !important;
}

footer{
    background-color: var(--secondaryDark);
    height: 30vh;
    width: 100%;
    animation: animate 0.2s linear 1s 1 alternate both !important;
}

footer .sitemap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}

footer .sitemap img{
height: 100px;
background-color: var(--secondaryDark);
padding: 20px;
border-radius: 20px;
}

footer .sitemap .links h3{
    color: var(--primary);
    font-size: 16px;
}
footer .sitemap .links ul li{
    list-style: none;
    margin: 10px;
    font-size: 14px;
}

footer .sitemap .links a{
    color: var(--bright);
    text-decoration: none;
    
}

footer .sitemap .links a:hover{
    
    text-decoration: underline;
    
}

.copyright{
    height: 70px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--secondaryDark);
}

section a{
    text-decoration: none;
    color: var(--dark);
}

.cite{
    background-color: var(--secondary);
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  
    text-align: center;
    
}
