            
:root{
    --semidark : rgb(214, 213, 213);
    --alidark : rgb(126, 123, 123);
    --black : #000;
    --white : #fff;
    --dheraidark : rgb(32, 32, 32);
    --page1 : rgb(56, 56, 56);
    --page2 : rgb(34, 32, 32);
    --card : rgb(26, 26, 26);
    

    
    
}








.theme{
    position: fixed;
    top: 200px;
    right: 50px;
    
    
}
.icon{
    color: var(--semidark);
    
    
}

.sidecol{
    position: absolute;
    width: 30px;
    right: 0;
    top: 90px;
    
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    
    
}

.col1{
    background-color: #be1616;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    

}
.col2{
    background-color: #37269c;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    

}
.col3{
    background-color: #1b7409;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    

}
.col4{
    background-color: #d35a22;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    

}

.col5{
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    

}
.col6{
    background-color: #ffffff;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    border: 2px solid rgb(255, 255, 255);

}

#sun{
    color: black;
    font-size: 25px;
}

.col6:hover{
    background-color: rgb(0, 0, 0);
    border: -5px solid rgb(255, 255, 255);
}
.col6:hover #sun{
    color: white;
}


.bgani{
    
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size:cover ;
    z-index: -10;
}





body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 5s ease;
}
::-webkit-scrollbar {
    width: 5px;  
   
}

::-webkit-scrollbar-thumb {
    
    background: var(--semidark);
}

#home{
    width: 100%;
}

.photo img{
    height: 100%;
    border-radius: 20px;
    transition: 0.5s ease;
    box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.199);

}

.photo img:hover{
    transform: scale(1.05);
    

}

.logo{
    text-decoration: none;
    color: var(--dheraidark);
    font-family: 'Righteous', cursive;
}
.navbar{
    background-color: var(--dheraidark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 6;
    transition: 0.5s ease;
    
    box-shadow: 5px 5px 1000px 1px var(--semidark);
    
}

.logo{
    color: var(--semidark);
    font-weight: 900;
    margin-left: 100px;
    font-size: 2rem;
    transition: 0.5s ease;
}



.navitems ul{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    transition: 0.5s ease;
    

}

.navitems ul li{
    list-style: none;
    padding: 5px;
    
    

}

.navitems ul li a{
    color: var(--semidark);
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
    transition: 0.5s ease;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0);
    
    
    
   
}
.navitems ul li a:hover{
    color: var(--semidark);
    border: 2px solid var(--semidark);
   
  
}

.navitems ul li a.active{
    color: var(--semidark);
    border: 4px solid var(--semidark);
   
  
}

.menubar{
    position: absolute;
    right: 50px;
    z-index: 100000;
    color:var(--semidark);
    display: none;
    
}

.menubar i{
    color: var(--semidark);
    cursor: pointer;
    
    
}

#menubar2{
    color: white;
}

.sidenav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 200px;
    background-color: var(--dheraidark);
    right: -200px;
    top: 0;
    transition: 0.5s ease;
    opacity: 0.8;
    
    
}
.sidenav ul li{
    list-style: none;
    margin: 50px;
}

.sidenav ul li a{
    text-decoration: none;
    color: var(--semidark);
    font-weight: bolder;
    
}

.page{

    height: 100vh;
    width: 100%;
    background-color: var(--dheraidark);
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: -2;

    
    
   
}

.content{
    
    height: 60vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}
.photo{
    
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintext{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 10px;
    
}

.maintext h2{
    color: var(--semidark);
    font-size: 35px;

}
.maintext h1{
    color: var(--semidark);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    
}
.maintext h4{
    color: var(--semidark);
    font-size: 20px;
    
}
.black{
    background-color: rgb(32, 32, 32);
}
.maintext ul li{
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 50px;
}
.maintext a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: var(--semidark
    );
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    border: 2px solid var(--semidark); 
    transition: 0.5s ease;
    
}

.maintext a:hover{
    color: white;
    background-color: var(--dheraidark);
}

.socialmedia{
    position: absolute;
    bottom: 20px;
    left: 20px;
    
}

.socialmedia ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.socialmedia ul li{
    list-style: none;
    padding: 10px;
    margin:0 5px;
}

.socialmedia ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 12px;
    color: rgba(231, 227, 227, 0.856);
    text-decoration: none;
    z-index: 1;
    
}
.socialmedia ul li a:hover{
    color: white;

}
.socialmedia ul li:nth-child(1) a:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: rgb(34, 10, 145);
   z-index: -1;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.95,.32,.37,1.31);
}
.socialmedia ul li:nth-child(2) a:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: rgb(253, 6, 121);
   z-index: -1;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.95,.32,.37,1.31);
}
.socialmedia ul li:nth-child(3) a:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: rgb(209, 4, 4);
   z-index: -1;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.95,.32,.37,1.31);
}
.socialmedia ul li a:hover:before{
    transform:scale(1);
}

.exbig{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page1);
    
    
    
}
.exbig2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page2);
    
    
    
}


.big{
    
    height: 80vh;
    width: 80vw;
    
    display: flex;
    flex-direction: column;
    
}

.medium1{
    width: 100%;
    height: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 20px;
    
}
.medium1 h1{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
    color: var(--semidark);
}

.medium1 p{
    color: var(--semidark);
    font-weight: bolder;
    font-size: 20px;
}

.medium2{
    width: 100%;
    height: 70%;
    
    
    
    display: flex;
    flex-direction: row;
}

.small1{
    height: 100%;
    width: 50%;
    
    display: flex;
    
    flex-direction: column;

}

    .skill-bars{
        margin-top: 30px;
        padding: 25px 30px;
        width: 800px;
        
        transform: scale(0.8);
        
        
      }


.detail{
   height: 40%;
    width: 100%;
    
    
    display: flex;
    
  
    
}
.detail1{
    width: 40%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    
     
    justify-content: center;
    align-items: center;
    display: none;
    
    
    
}


.detail2{
    width: 60%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    display: none;
    
   
    
    
}
.detail1 i{
    color: var(--dheraidark);
}
.detail i{
    color: var(--dheraidark);
}


.tt{
    padding: 15px;
    margin-left:10px ;
    font-size: 12px;
}



.bold{
    padding: 5px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    color: black;
    font-weight: bolder;

}

.light{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    color: rgb(0, 0, 0);
}

.up{
    
    width: 100%;
    height: 60%;
    text-align: justify;
    
    
  
   
}



.skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 1;
    animation: showText 0.5s 1s linear forwards;
    color: var(--semidark);
    font-weight: bolder;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: var(--dheraidark);
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgb(0, 0, 0),
                0 1px rgba(0, 0, 0, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--semidark);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 90%;
  }
  .bar .progress-line.jquery span{
    width: 20%;
  }
  .bar .progress-line.python span{
    width: 90%;
  }
  .bar .progress-line.mysql span{
    width: 80%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "90%";
  }
  .progress-line.jquery span::after{
    content: "20%";
  }
  .progress-line.python span::after{
    content: "90%";
  }
  .progress-line.mysql span::after{
    content: "80%";
  }


  
  ::selection{
    color: #fff;
    background: var(--dheraidark);
  }


  .big2{
    height: 90vh;
    width: 90vw;
    
    
    display: flex;
    flex-direction: column;
      
  }
  .medium1{
    width: 100%;
    height: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 20px;
   

  }
  .grid{
    width: 100%;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    
   

  }

  .s1{
     
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      
      
  }
  .s2{
    
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
}

.service{
    width: 27%;
    height: 100%;
    background-color: var(--card);
   
    align-items: center;
    text-align: center;
    transform: scale(0.9);
    border-radius: 20px;
    transition: 0.5s ease;
    border: 1px solid rgba(0, 0, 0, 0.068);
    
    
}
.service:hover{
    box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.199);
    transform: scale(0.92);
}

.icon{
    margin-top: 25px;
}
.icon i{
    color: var(--white);
}


.bodytext{
    margin: 20px;
    color: var(--semidark);
    font-weight: bolder;
}

.headtxt{
    color: white;
    font-weight: bolder;
}

#services{
    background: rgb(163, 161, 161);
}

.mind{
    height: 300px;
    background-color: var(--black);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
   
    
}
.mind h1 {
    margin-top:50px;
    color: var(--semidark);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
    
}
.mind p{
    color: var(--semidark);
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 50px;
}

.mind ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.mind ul li{
    list-style: none;
    margin: 60px;
}

.mind ul li:nth-child(1) a{
    text-decoration: none;
    
    color: var(--dheraidark);
    font-weight: bolder;
    background-color: var(--semidark);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    
    border: 2px solid var(--dheraidark); 
    transition: 0.5s ease;
    
}

.mind ul li:nth-child(1) a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--black);
    border: 2px solid var(--semidark);
}

.mind ul li:nth-child(2) a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background: var(--dheraidark);
background-size: 20px;
    width: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255); 
    transition: 0.5s ease;
    box-shadow: 5px 5px 2px 2px rgba(137, 43, 226, 0.171);
}

.mind ul li:nth-child(2) a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(182, 182, 182, 0.555);
}

#footer{
    margin-top: -100px;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: var(--page1);
    display: flex;
    flex-direction: column;
    text-align: center; 
    
    align-items: center;
    justify-content: center;
}

.footer h1{
    font-size: 30px;
    color: var(--semidark);
    font-weight: bolder;
    font-family: 'Righteous', cursive;
}

.footer p{
    color: var(--semidark);
    font-weight: bolder;
   
}
.socialmedia2 ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;

}


.socialmedia2 ul li{
    list-style: none;
}

.socialmedia2 ul li a{
    text-decoration: none;
    margin: 30px;
    transition: 0.5s ease;
    color: var(--black);
    
}



.socialmedia2 ul li a:hover{
    color: var(--white);

}



.footerdeep{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.footerdeep h2{
    color: var(--semidark);
    font-size: 15px;
}


.goup{
    position: fixed;
    bottom: 50px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--black);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s ease;
    border: 2px solid var(--semidark);
    
}

.goup i{
    color: var(--semidark);
    transition: 0.5s ease;
}

.up{
    text-decoration: none;
    transition: 0.5s ease;
}

.up:hover .goup{
    background-color: var(--semidark);
    border: 2px solid var(--black);

}
.up:hover .goup i{
    color: var(--black);
    
}

.up2 h2{
    color: var(--semidark);
    
}

.up2 p{
    color: var(--semidark);
}

@media only screen and (max-width:1207px){


    .navitems{
        display: none;
    }

    .menubar{
        display: block;
    }

    .photo{
        display: none;
        width: 30%;
    }
    .maintext{
        width: 70%;
    }

    .logo{
        margin-left: 50px;
    }
    
}

@media only screen and (max-width:877px){
    .photo{
        width: 0%;
    }

    .menubar{
        display: block;

    }

    .maintext{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .maintext ul li{
        margin-left: -35px;
    }

    .logo{
        margin-left: 50px;
    }

    .theme{
        transform: scale(0.7);
        right: 10px;
    }
}

@media only screen and (max-width:587px){
    .maintext h2{
        font-size: 15px;
    }
.goup{
    transform: scale(0.7);
    right:5px ;
}
    .menubar{
        right: 20px;
    }

    .maintext h1{
        font-size: 30px;
    }

    .maintext h4{
        font-size: 12px;
    }


    .maintext a{
        font-size: 10px;
    }

    .socialmedia{
        position: absolute;
        right: 50%;
        
        bottom: 20px;
    }

    .medium1 h1{
        font-size: 30px;
    }

    .medium1 p{
        font-size: 15px;
    }

    .footer h1{
        font-size: 20px;
    }
    .footer p{
        font-size: 10px;
    }
    
    .footerdeep h2{
        font-size: 10px;
    }

    
}

@media only screen and (max-width:1067px){
    .medium2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;

    }

    .small1{
        width: 100%;
        height: 40%;
    }
    .skill-bars{
        width: 90%;
       transform:scale(1);
       height: 60%;
    }
    
    .big{
        height: max-content;
    }
   

    .exbig{
        height: fit-content;
       
    }
    .exbig2{
        height: fit-content;
        
    }
    
    .up{
        text-align: center;
    }

    .big{
        margin-top: 50px;
    }

    .big2{
        margin-top: 60px;
    }

}
@media only screen and (max-width:509px){
   
}

@media only screen and (max-width:1255px){
   

   
.service{
    height: 250px;
}
    .s1{
        height: max-content;
    }

    .s2{
        height: max-content;
    }

    .big2{
        height: max-content;
    }
    .big{
        height: max-content;
    }
   
}

@media only screen and (max-width:1007px){
    .s1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service{
        width: 80%;
    }
}

@media only screen and (max-width:1007px){
    .mind{
        height: max-content;
    }

    .mind ul{
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .mind ul li{
        padding: 0;
    }

}

@media only screen and (max-width:1075px){
    .footer{
        height: max-content;
        margin-top: 100px;

    }

    .footer p{
        margin-left: 50px;
        margin-right: 50px;
    }
}

.footerdeep{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia2 a{
    text-decoration: none;
    color: rgb(70, 24, 112);
}

::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
   
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    
    background: var(--dheraidark);
}

@media only screen and (max-width:394px){
    .maintext h1{
        font-size: 20px;
    }


    .medium1 h1{
        font-size: 25px;
    }


}

@media only screen and (max-width:380px){
    .bodytext p{
        font-size: small;
    }

    .mind ul li:nth-child(1) a{
        padding: 15px;
        font-size: small;
        
    }
    .mind ul li:nth-child(2) a{
        padding: 15px;
        font-size: small;
    }

    .mind ul{
        margin: 10px;
    }
    .socialmedia2 ul li{
        padding: 0;
    }
    .socialmedia2 ul li a{
        font-size: 10px;
        
        padding: 0px;
        
    }
}

@media only screen and (max-width:318px){
    .bodytext p{
        font-size: 10px;
    }
}


@media only screen and (max-width:265px){
    .mind ul li:nth-child(1) a{
        padding: 5px;
        font-size: 10px;
        
    }
    .mind ul li:nth-child(2) a{
        padding: 5px;
        font-size: 10px;
    }
}

@media only screen and (max-width:497px){
    .theme{
        transform: scale(0.5);
        top: 400px;
    }

}

@media only screen and (max-width:890px){
    .logo{
        margin-left: 20px;
        font-size: 20px;
    }
}








