

.mainBody{
    display: flex;
    justify-content: center;
}


    


.about-us{
    height: 160vh;
    width: 80%;
    
    margin-top: 100px;
}

body{
    background-image: none !important;
    background:linear-gradient(to right, var(--brightDark),white,var(--brightDark)) !important;
}


.about-us h1{
    color: var(--primary);
    text-align: center;
    font-size:35px;
    color: var(--bright);
    background-color: var(--primary);
    padding: 15px;
    border-radius: 20px;

}

.about-us h2{
    color: var(--secondaryDark);
    margin: 30px;
    margin-top: 40px;
    font-size: 25px;
    
}

.about-us p{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    
}

.about-us ul li{
    padding: 25px;
    list-style: none;
    text-align: justify;
    font-size: 20px;
}




.about-us ul li span{
    color: var(--primary);
    font-size: large;
    font-weight: bold;
}



form input,label,button,textarea{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;

}

form button{
    cursor: pointer;
    border: 2px solid var(--primary);
    color: var(--primary);
    transition: 0.5s ease;
}

form button:hover{
    color:var(--bright);
    background-color: var(--primary);
}

.border-box{
    border: 5px solid var(--primary);
    margin-top: 50px;
    border-radius: 30px;
}

.primaryText{
    color: var(--primary);
}

label{
    color: var(--primary);
}
