

.more-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-body .more-title{
display: flex;
align-items: center;
justify-content: center;
height: 60px;
width: 80%;
background-color: var(--primary);
margin-top: 50px;
border-radius: 20px;
animation: animate 0.2s linear 0.2s 1 alternate both !important;

}

.more-body .more-title h1{
    color: var(--bright);
    text-align: center;
    animation: animate 0.2s linear 0.3s 1 alternate both !important;

}

#bakery-list:nth-child(3){
    animation: animate 0.2s linear 0.4s 1 alternate both !important;
}

#bakery-list:nth-child(4){
    animation: animate 0.2s linear 0.5s 1 alternate both !important;
}

footer{
    animation: animate 0.2s linear 0.7s 1 alternate both !important;
}